.footer__menu-item {
    margin-inline-end: 18px;

}

.footer__menu-item:last-child {
    margin-inline-end: 0;
}


@media screen and (max-width: 425px) {
    .footer__menu-item {
        margin-block-end: 32px;
    }

}

