.header {
    margin: 0 auto;
    inline-size: 100%;
    max-inline-size: calc(1184px + 2*48px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    block-size: 52px;
    padding-inline-start: 48px;
    padding-inline-end: 48px;
    box-sizing: border-box;
}


@media screen and (max-width: 768px) {
    .header {
        padding-inline-start: 24px;
        padding-inline-end: 24px;
    }
}

@media screen and (max-width: 320px) {
    .header {
        padding-inline-start: 16px;
        padding-inline-end: 16px;
    }   
}