.header {
    margin: 0;
    inline-size: 100%;
    padding-inline-start: 48px;
    padding-inline-end: 48px;
    box-sizing: border-box;
}

@media screen and (max-width: 768px) {
    .header {
        padding-inline-start: 24px;
        padding-inline-end: 24px;
    }
}

@media screen and (max-width: 320px) {
    .header {
        padding-inline-start: 16px;
        padding-inline-end: 16px;
    }   
}