.language-selection__link {
    text-decoration: none;
    color: inherit;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px; 
    margin: 0;
    margin-inline-end: 18px; 
    opacity: 1;
    transition: opacity 0.1s linear;
}

.language-selection__link:hover {
    opacity: 0.8;
}

.language-selection__link:last-of-type {
    margin-inline-end: 0; 
}


@media screen and (max-width: 320px) {
    .language-selection__link {
        font-size: 18px;
        line-height: 20px;  
    }
}