.lead__image-container {
    background-image: url(../../../images/lead/window-in-train.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 984px;
    height: 615px;
    margin: 64px 0 0 0;
    padding: 90px 23px 0;
    box-sizing: border-box;    
}