.cover {
    position: relative;
    flex-basis: 740px;
    inline-size: 100%;
    max-inline-size: 1184px;
    text-align: center;
    box-sizing: border-box;
}

.cover::before {
    content: '';
    position: absolute;
    z-index: -1;
    inline-size: 100%;
    block-size: 100%;
    top: 0;
    left: 0;
    background-color: #2A2C2F;
    opacity: 0.8;
    background-image: url(../../images/cover/trains.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    transition: opacity 0.2s linear;
}

.cover:hover::before {
    opacity: 0.3;
}