.main__photo-grid {
    margin-block-start: 92px;
    margin-block-end: 92px;
}


@media screen and (max-width: 768px) {
    .main__photo-grid {
        margin-block-end: 88px;
        margin-block-start: 88px;
    }
}


@media screen and (max-width: 320px) {
    .main__photo-grid {
        margin-block-start: 64px;
        margin-block-end: 64px;
    }
}