.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-inline-size: calc(1184px + 2*48px);
    inline-size: 100%;   
    box-sizing: border-box;
    padding-inline-start: 48px;
    padding-inline-end: 48px; 
}

@media screen and (max-width: 768px) {
    .footer {
        padding-inline-start: 24px;
        padding-inline-end: 24px; 
    }
}

@media screen and (max-width: 700px) {
    .footer {
        flex-direction: column;
        max-block-size: 100%;
        align-items: flex-start;
    }
}

@media screen and (max-width: 320px) {
    .footer {
        padding-inline-start: 16px;
    }
}


