.footer {
    margin: 0;
    margin-block-start: 92px;
    display: flex;
    box-sizing: border-box;
    max-inline-size: 1184px;
    inline-size: 100%;
    justify-content: space-between;
    align-items: center;
    justify-self: flex-end;
}