.page__container {
    max-inline-size: 1280px;
    min-block-size: 100%;
    box-sizing: border-box;
    margin: 0 auto;
    padding-block-start: 28px;
    padding-block-end: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
}